#container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#media {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: rgba(0,0,0,0.2);
}

#meta {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 5px;
  background: rgba(0,0,0,0.2);
}

#control {
  position: absolute;
  left: 10px;
  bottom: 10px;
  padding: 5px;
  background: rgba(0,0,0,0.2);
}

#control > button {
  margin-right: 5px;
}
#control > button:last-child {
  margin-right: 0;
}
